files:
    "/etc/cron.d/mycron":
        mode: "000644"
        owner: root
        group: root
        content: |
            0 20 * * 2 root . /opt/elasticbeanstalk/support/envvars && /usr/local/bin/announcenextrace.sh

    "/usr/local/bin/announcenextrace.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/bash

            node /var/app/current/bot/scripts/next.js

            exit 0

commands:
    remove_old_cron:
        command: "rm -f /etc/cron.d/mycron.bak"
    setvars:
        command: /opt/elasticbeanstalk/bin/get-config environment | jq -r 'to_entries | .[] | "export \(.key)=\"\(.value)\""' > /etc/profile.d/sh.local

packages:
    yum:
        jq: []