files:
  "/tmp/install_chrome.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #! /bin/bash
      echo 'Installing Google Chrome...'
      curl https://intoli.com/install-google-chrome.sh | bash

commands:
  01_install_chrome:
    command: "/tmp/install_chrome.sh"
    ignoreErrors: false