Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Auth:
          type: "s3"
          buckets: ["elasticbeanstalk-us-west-2-324195635505"]
          roleName: 
            "Fn::GetOptionSetting": 
              Namespace: "aws:autoscaling:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "aws-elasticbeanstalk-ec2-role"
files:
  # Private key
  "/tmp/.credentials/orlbot-6ab214a4a4ba.json":
    mode: "000400"
    owner: root
    group: root
    authentication: "S3Auth"
    source: https://elasticbeanstalk-us-west-2-324195635505.s3-us-west-2.amazonaws.com/orlbot-6ab214a4a4ba.json
    
  "/tmp/copy_credentials.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #! /bin/bash
      cp -r /tmp/.credentials /var/app/current/.credentials
      rm -rf /tmp/.credentials
      
commands:
  02_copy_credentials:
    command: "/tmp/copy_credentials.sh"
    ignoreErrors: false
