.name {
  font-size: 1.2rem;
  padding: 0 1rem;
  text-align: left; 
  width: auto;
  white-space: nowrap;
}

.number {
  font-size: 1.4rem;
  color: #ccc;
  text-align: center;
  width: 4rem;
  height: 2.6rem;
}

.numberArt {
  display: block;
  width: 60%;
  margin: 0 auto; 
  max-height: 3rem;
}

@media (max-width: 600px) {
  .name {
    font-size: 0.8rem;
  }
  
  .number {
    font-size: 1.2rem;
  }
}
