.footer {
  background: black;
  color: white;
  margin-top: 3rem;
  padding: 2rem 0 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.footer p {
  margin-top: 2rem;
}