html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

main.container {
  margin-bottom: 2rem;
}

iframe {
  width: 100%;
  height: 85vh;
}

table {
  border: 0;
  width: 100%;
  font-family: monospace;
}

tbody tr:nth-child(odd) {
  background-color: #f1f1f1;
}

th {
  font-size: 0.6rem;
  line-height: 1.2;
  vertical-align: bottom;
}

td { 
  font-size: 0.7rem;
  padding: 5px 10px; 
}

ul, ol {
  list-style-position: outside !important;
  margin-bottom: 1.2rem;
}

li p {
  margin-bottom: 0;
}

ul li, ol li {
  margin-top: .2rem;
}

h3 b {
  font-weight: inherit;
}

* + h3 {
  margin-top: 2.4rem !important;
}

div + div:not(.column) > h2 {
  margin: 4rem 0 2.4rem !important;
  border-top: 1px solid #ccc;
  padding-top: 2.4rem;
}

.btn {
  border-radius: 0;
  font-size: 0.6rem;
  font-weight: bold;
  transform: skew(-20deg);
  text-transform: uppercase;
  font-style: italic;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
}

.btn span {
  display: inline-block;
  transform: skew(20deg);
}

.btn:after {
  display: inline-block;
  content: "\2192";
  padding-left: 0.4rem;
  transform: skew(20deg);
}

.btn.btn-primary {
  background-color: #f4a913;
  border-color: #f4a913;
  color: #000;
}

.btn.btn-primary:hover {
  background-color: black;
  border-color: black;
  color: white;
}

.btn.btn-secondary {
  background-color: black;
  border-color: black;
  color: #f4a913;
}

.btn.btn-secondary:hover {
  background-color: white;
  border-color: black;
  color: black;
}
