html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

main.container {
  margin-bottom: 2rem;
}

iframe {
  width: 100%;
  height: 85vh;
}

table {
  border: 0;
  width: 100%;
  font-family: monospace;
}

tbody tr:nth-child(odd) {
  background-color: #f1f1f1;
}

th {
  font-size: 0.6rem;
  line-height: 1.2;
  vertical-align: bottom;
}

td { 
  font-size: 0.7rem;
  padding: 5px 10px; 
}

ul, ol {
  list-style-position: outside !important;
  margin-bottom: 1.2rem;
}

li p {
  margin-bottom: 0;
}

ul li, ol li {
  margin-top: .2rem;
}

h3 b {
  font-weight: inherit;
}

* + h3 {
  margin-top: 2.4rem !important;
}

div + div > h2 {
  margin: 4rem 0 2.4rem !important;
  border-top: 1px solid #ccc;
  padding-top: 2.4rem;
}
