html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

main.container {
  margin-bottom: 2rem;
}

iframe {
  width: 100%;
  height: 85vh;
}

table {
  border: 0;
  width: 100%;
  font-family: monospace;
}

tbody tr:nth-child(odd) {
  background-color: #f1f1f1;
}

th {
  font-size: 0.6rem;
  line-height: 1.2;
  vertical-align: bottom;
}

td { 
  font-size: 0.7rem;
  padding: 5px 10px; 
}

ul, ol {
  list-style-position: outside !important;
  margin-bottom: 1.2rem;
}

li p {
  margin-bottom: 0;
}

ul li, ol li {
  margin-top: .2rem;
}

h3 b {
  font-weight: inherit;
}

* + h3 {
  margin-top: 2.4rem !important;
}

div + div:not(.column) > h2 {
  margin: 4rem 0 2.4rem !important;
  border-top: 1px solid #ccc;
  padding-top: 2.4rem;
}

h6 {
  border-bottom: 1px solid #ccc;
  padding-bottom: .4rem;
}

.tagline {
  background: black;
  text-align: center;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: uppercase;
  font-style: oblique;
  line-height: 1.5em;
  letter-spacing: 1.8px;
  padding: 20px 0;
  margin-bottom: 2rem;
}

.navbar .navbar-section {
  justify-content: center;
}

.navItem:link,
.navItem:visited {
  display: inline-block;
  font-size: 0.7rem;
  color: #f4a913;
  padding: 10px;
  text-transform: uppercase;
  text-decoration: none;
}

.navItem.active,
.navItem:hover,
.navItem:active {
  background-color: #f4a913;
  color: #000;
  transform: skew(-20deg);
}

.navItem.active span,
.navItem:hover span,
.navItem:active span {
  display: inline-block;
  transform: skew(20deg);
}

.btn.btn-primary {
  background-color: #f4a913 !important;
  border-color: #f4a913 !important;
  color: #000 !important;
}

.description {
  margin: 1rem 0;
}

.description p,
.description ul {
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
}

.description li,
.description li p {
  margin: 0;
}
