.thumbnail {
  padding: 0.4rem;
  height: auto;
}

.title {
  border-bottom: 1px solid #ccc;
  padding-bottom: .4rem;
}

.tagline {
  background: black;
  margin-top: -2.4rem;
  margin-bottom: 2rem;
}

.tagline p {
  text-align: center;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
  font-style: oblique;
  line-height: 1.5em;
  letter-spacing: 1.8px;
  padding: 0.6rem 0 1rem;
}

.description {
  margin: 0 0 2rem;
}

.description h4 {
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.4rem;
  margin-bottom: 1rem;
}

.description p,
.description ul {
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
}

.description li,
.description li p {
  margin: 0;
}

.about {
  font-size: 0.7rem;
  margin-bottom: 2rem;
}

.about > div {
  background: #f0f0f0;
  border: 2px solid white;
  padding: 1rem 0.8rem 0.2rem;
}

.about h2,
.about h3 {
  background: #212121;
  color: white;
  font-size: 0.6rem;
  font-weight: bold;
  margin: 0 -0.16rem 0 0.4rem;
  padding: 0.4rem 0.85rem;
  text-transform: uppercase;
  transform: skew(-20deg);
}

.about h2 span,
.about h3 span {
  display: block;
  transform: skew(20deg);
}

.about td {
  font-size: 0.6rem;
}

.resultsHeader {
  margin: 1rem 0;
}

.resultsHeader ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.resultsHeader li {
  margin-top: 0;
}

.resultsHeader img {
  display: block;
  margin: 0 auto;
  max-height: 150px;
  height: 100%;
  max-width: 100%;
}

@media (max-width: 600px) {
  .tagline p {
    font-size: 1rem;
    line-height: 1.2;
    padding: 0.4rem 20px 1rem;
  }
  
  .thumbnail {
    padding-left: 0;
    padding-right: 0;
    height: 56.25%;
  }

  .resultsHeader {
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
    margin: 0 0 1.2rem;
  }
}