.title {
  border-bottom: 1px solid #ccc;
  padding-bottom: .4rem;
}

.tagline {
  background: black;
  margin: -2.4rem -1.8rem 2rem;
}

.tagline p {
  text-align: center;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
  font-style: oblique;
  line-height: 1.5em;
  letter-spacing: 1.8px;
  padding: 0.6rem 0 1rem;
}

.tagline figure {
  border-left: 0.4rem solid black;
  border-right: 0.4rem solid black;
  margin: 0.4rem 0;
  transform: skew(-20deg);
  overflow: hidden;
}

.thumbnail {
  height: auto;
  max-width: 100%;
  transform: skew(20deg) scale(1.3);
}

.description {
  margin: 0 0 2rem;
}

.description h4 {
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.4rem;
  margin-bottom: 1rem;
}

.description p,
.description ul {
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
}

.description li,
.description li p {
  margin: 0;
}

.about {
  font-size: 0.7rem;
  margin-bottom: 2rem;
}

.about > div {
  background: #f0f0f0;
  border: 2px solid white;
  padding: 1rem 0.8rem 0.2rem;
}

.about h2,
.about h3 {
  background: #212121;
  color: white;
  font-size: 0.6rem;
  font-weight: bold;
  margin: 0 -0.16rem 0 0.4rem;
  padding: 0.4rem 0.85rem;
  text-transform: uppercase;
  transform: skew(-20deg);
}

.about h2 span,
.about h3 span {
  display: block;
  transform: skew(20deg);
}

.about td {
  font-size: 0.6rem;
}

.resultsHeader {
  margin: 1rem 0;
}

.resultsHeader ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.resultsHeader li {
  margin-top: 0;
}

.resultsHeader img {
  display: block;
  margin: 0 auto;
  max-height: 150px;
  height: 100%;
  max-width: 100%;
}

.promo {
  background: #f4a913;
  color: black;
  transform: skew(-20deg);
  margin: 1rem 0 3rem;
}

.promo > div {
  transform: skew(20deg);
  padding: 1.2rem 0 0.2rem;
  break-inside: avoid-column;
}

.multicol {
  columns: 2;
}

.carcut {
  background: white;
  margin-left: 1rem;
  transform: skew(0) !important;
  overflow: hidden;
  display: flex;
}

.carcut figure {
  transform: skew(20deg) scale(1.5);
  align-self: center;
}

@media (max-width: 600px) {
  .tagline {
    margin-left: 0;
    margin-right: 0;
  }
  
  .tagline p {
    font-size: 1rem;
    line-height: 1.2;
    padding: 0.4rem 20px 1rem;
  }
  
  .thumbnail {
    padding-left: 0;
    padding-right: 0;
    height: 56.25%;
  }

  .resultsHeader {
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
    margin: 0 0 1.2rem;
  }
  
  .promo {
    margin-top: -2rem;
    margin-left: -0.4rem;
    margin-right: -0.4rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    transform: skew(0);
  }
  
  .promo > div {
    transform: skew(0);
  }
  
  .multicol {
    columns: 1;
  }
  
}