.navbar {
  background: black;
  margin-bottom: 2rem;
  padding: 1rem 0;
}

.logo {
  display: block;
  height: 2.5rem;
  position: relative;
  top: 2px;
}

.navbarSection:not(:first-child):last-child {
  justify-content: flex-end;
}

@media (max-width: 1280px) {
  .navbarSection {
    justify-content: center !important;
  }
  
  .logo {
    margin-bottom: 1rem;
  }
}

@media (max-width: 600px) {
  .logo {
    left: 8px;
  }
}