#raceday a:link,
#raceday a:visited {
  color: #909090;
}

#raceday .container {
  background: black;
  color: #909090;
  min-height: calc(100vh - 2.5rem);
  margin-top: -2rem;
  padding-top: 0;
  padding-bottom: 4rem;
}

#raceday .container > .columns:not(hgroup) {
  margin: 0 -0.2rem;
}

#raceday .column {
  padding-right: 0.2rem;
  padding-left: 0.2rem;
}

#raceday tbody tr:nth-child(odd) {
  background-color: #131313;
}

#raceday th {
  font-size: 0.5rem;
  line-height: 1;
}

#raceday td { 
  font-size: 0.6rem;
  padding: 0.1rem 0.2rem; 
  text-overflow: ellipsis;
  white-space: nowrap;
}

#raceday hgroup {
  background: #202020;
  color: #f1f1f1;
  margin-bottom: 0.4rem; 
}

#raceday hgroup > div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #363636;
  transform: skew(-20deg);
  border-style: solid;
  border-color: black;
  border-width: 0 0.2rem;
}

#raceday hgroup > div:before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 1rem;
  right: 1rem;
  bottom: 0;
  border-style: solid;
  border-color: black;
  border-width: 0 0.2rem;
}

#raceday hgroup > div:after {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 3rem;
  right: 3rem;
  bottom: 0;
  border-style: solid;
  border-color: black;
  border-width: 0 0.2rem;
}

#raceday hgroup > div > * {
  transform: skew(20deg);
}

#raceday hgroup img {
  max-height: 100px;
  margin-right: 1rem;
}

#raceday hgroup h1 {
  font-size: 1.4rem;
  margin: 0;
}

#raceday hgroup h2 {
  font-size: 1rem;
  margin: 0;
}

#raceday ul {
  list-style: none;
  margin: 0.4rem 0 1rem;
  padding: 0;
}

#raceday li {
  font-size: 0.7rem;
  margin-top: 0;
  line-height: 1.2;
}

#raceday li b {
  font-size: 0.8rem;
  color: #f1f1f1;
}

#raceday .twitch {
  margin-bottom: 0.4rem;
}

#raceday .twitch-header {
  background: #202020;
  color: #f1f1f1;
}

#raceday .twitch-header > div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #363636;
  transform: skew(-20deg);
  border-style: solid;
  border-color: black;
  border-width: 0 0.1rem;
  margin: 0 1rem;
}

#raceday .twitch-header > div > * {
  color: #f1f1f1 !important;
  padding: 0.2rem 0;
  transform: skew(20deg);
}

#raceday .twitch-stream {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}

#raceday .twitch-stream iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

#raceday .out {
  opacity: 0.5;
}

#raceday .gain {
  color: green;
}

#raceday .lose {
  color: red;
}

#raceday .driver {
  display: block;
  white-space: nowrap;
}

#raceday .pit > * {
  border: 1px solid yellow;
  border-radius: 4px;
  text-align: center;
  color: yellow;
  display: block;
}

#raceday .session {
  color: white;
  text-align: center;
  font-style: italic;
  font-size: 0.8rem;
  text-shadow: 0 0 6px rgba(0,0,0,0.5);
  padding: 0.2rem 0;
  letter-spacing: 0.2rem;
  margin: 0;
  font-weight: 900;
}

#raceday .session.green {
  background: linear-gradient(to right, rgba(0,100,0,0.5), rgba(0,255,0,0.5), rgba(0,100,0,0.5)) center/100%, url(/img/led.jpg) center/18%;
}

#raceday .teaser {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#raceday .teaser h3 {
  font-style: italic;
}